button {
    height: 40px;
    background-color: transparent;
    border: none;
}

button:hover {
    opacity: .5;
}

button:before {
    font-family: HeydingsControlsRegular;
    font-size: 20px;
    position: relative;
    content: attr(data-icon);
    color: rgb(95, 235, 14);
    background-color: transparent;
  }